In [2]:
import json
import pandas as pd

In [3]:
with open("..\Yelp_JSON\yelp_dataset\yelp_academic_dataset_user.json", 'r') as file:
    # line_count = sum(1 for line in file)
    # print(line_count, "TOTAL")
    reviews=[json.loads(line) for line in file]
    # for line in file


# df = pd.DataFrame.from_dict(data, orient='columns')
print('done')

done

In [4]:
df = pd.DataFrame.from_dict(reviews, orient='columns')
print(df)

                        user_id     name  review_count        yelping_since  \
0        qVc8ODYU5SZjKXVBgXdI7w   Walker           585  2007-01-25 16:47:26
1        j14WgRoU_-2ZE1aw1dXrJg   Daniel          4333  2009-01-25 04:35:42
2        2WnXYQFK0hXEoTxPtV2zvg    Steph           665  2008-07-25 10:41:00
3        SZDeASXq7o05mMNLshsdIA     Gwen           224  2005-11-29 04:38:33
4        hA5lMy-EnncsH4JoR-hFGQ    Karen            79  2007-01-05 19:40:59
...                         ...      ...           ...                  ...
1987892  fB3jbHi3m0L2KgGOxBv6uw  Jerrold            23  2015-01-06 00:31:31
1987893  68czcr4BxJyMQ9cJBm6C7Q     Jane             1  2016-06-14 07:20:52
1987894  1x3KMskYxOuJCjRz70xOqQ  Shomari             4  2017-02-04 15:31:58
1987895  ulfGl4tdbrH05xKzh5lnog  Susanne             2  2011-01-14 00:29:08
1987896  wL5jPrLRVCK_Pmo4lM1zpA      Isa             2  2020-12-19 02:32:39

         useful  funny   cool  \
0          7217   1259   5994
1         43091  13066  27281
2          2086   1010   1003
3           512    330    299
4            29     15      7
...         ...    ...    ...
1987892       7      0      0
1987893       0      0      0
1987894       1      1      0
1987895       0      0      0
1987896       0      0      0

                                                     elite  \
0                                                     2007
1        2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
2                                 2009,2010,2011,2012,2013
3                                           2009,2010,2011
4
...                                                    ...
1987892
1987893
1987894
1987895
1987896

                                                   friends  fans  ...  \
0        NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
1        ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
2        LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
3        enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
4        PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...     1  ...
...                                                    ...   ...  ...
1987892                                               None     0  ...
1987893                                               None     0  ...
1987894                                               None     0  ...
1987895                                               None     0  ...
1987896                                               None     0  ...

         compliment_more  compliment_profile  compliment_cute  \
0                     65                  55               56
1                    264                 184              157
2                     13                  10               17
3                      4                   1                6
4                      1                   0                0
...                  ...                 ...              ...
1987892                0                   0                0
1987893                0                   0                0
1987894                0                   0                0
1987895                0                   0                0
1987896                0                   0                0

         compliment_list  compliment_note  compliment_plain  compliment_cool  \
0                     18              232               844              467
1                    251             1847              7054             3131
2                      3               66                96              119
3                      2               12                16               26
4                      0                1                 1                0
...                  ...              ...               ...              ...
1987892                0                0                 0                0
1987893                0                0                 0                0
1987894                0                0                 0                0
1987895                0                0                 0                0
1987896                0                0                 0                0

         compliment_funny  compliment_writer  compliment_photos
0                     467                239                180
1                    3131               1521               1946
2                     119                 35                 18
3                      26                 10                  9
4                       0                  0                  0
...                   ...                ...                ...
1987892                 0                  0                  0
1987893                 0                  0                  0
1987894                 0                  0                  0
1987895                 0                  0                  0
1987896                 0                  0                  0

[1987897 rows x 22 columns]

In [5]:
def frendcheck(friends):
    if isinstance(friends,str):
        # print("fren")
        # list = friends.split(",")
        val=friends.count(",")
        if val<2: # val < 3 implies 0-3 friends
            return False # take out too short friends lists
        else: 
            return True
    return False # take out non string friends lists  
    

filtered_df = df[df['friends'].apply(frendcheck)]
print(filtered_df)

                        user_id    name  review_count        yelping_since  \
0        qVc8ODYU5SZjKXVBgXdI7w  Walker           585  2007-01-25 16:47:26
1        j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333  2009-01-25 04:35:42
2        2WnXYQFK0hXEoTxPtV2zvg   Steph           665  2008-07-25 10:41:00
3        SZDeASXq7o05mMNLshsdIA    Gwen           224  2005-11-29 04:38:33
4        hA5lMy-EnncsH4JoR-hFGQ   Karen            79  2007-01-05 19:40:59
...                         ...     ...           ...                  ...
1935526  Vu8_eH1AFgTH94Vkz44AaA   Sandi             1  2018-06-15 20:24:39
1935528  kMfn0hi01fnz13yJtklOpQ    Lori             1  2014-11-10 17:34:31
1935530  z8i3ID8dTAWJtY095qGTDg   Linda           119  2007-07-25 17:28:34
1941253  CtA76d7_KFiup2Ygm53Rww   Jadyn             1  2021-10-08 15:05:05
1955871  LZ2ZMPiqv1CEFTJDwTmrLw  Haixin             9  2017-06-18 04:11:41

         useful  funny   cool  \
0          7217   1259   5994
1         43091  13066  27281
2          2086   1010   1003
3           512    330    299
4            29     15      7
...         ...    ...    ...
1935526       0      0      0
1935528       2      0      0
1935530      96     26     15
1941253       0      0      0
1955871      16      6      8

                                                     elite  \
0                                                     2007
1        2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
2                                 2009,2010,2011,2012,2013
3                                           2009,2010,2011
4
...                                                    ...
1935526
1935528
1935530
1941253
1955871

                                                   friends  fans  ...  \
0        NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
1        ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
2        LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
3        enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
4        PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...     1  ...
...                                                    ...   ...  ...
1935526  WtEI1nS3mTe3mLo5xGstug, 59h6nXeSQuJiBUi2KMe6Jw...     0  ...
1935528  vakj7xdxrcu01BIkzOZAQw, KB_l02dDq-mfC-JIf1n4WQ...     0  ...
1935530  qWug4r2phAMup-PKbIsCGA, evZ5lSegOw1gN_nVpKgvMw...     2  ...
1941253  835Ga8u1xke4T9OiEtCCiA, kl_jsYQXMooIFcVYEykIgA...     0  ...
1955871  DEOCgrRMlbF5kRugp7yQFw, DL6CxcUyhkfeavnI19gTyQ...     2  ...

         compliment_more  compliment_profile  compliment_cute  \
0                     65                  55               56
1                    264                 184              157
2                     13                  10               17
3                      4                   1                6
4                      1                   0                0
...                  ...                 ...              ...
1935526                0                   0                0
1935528                0                   0                0
1935530                0                   0                0
1941253                0                   0                0
1955871                0                   0                0

         compliment_list  compliment_note  compliment_plain  compliment_cool  \
0                     18              232               844              467
1                    251             1847              7054             3131
2                      3               66                96              119
3                      2               12                16               26
4                      0                1                 1                0
...                  ...              ...               ...              ...
1935526                0                0                 0                0
1935528                0                0                 0                0
1935530                0                1                 1                1
1941253                0                0                 0                0
1955871                0                1                 3                1

         compliment_funny  compliment_writer  compliment_photos
0                     467                239                180
1                    3131               1521               1946
2                     119                 35                 18
3                      26                 10                  9
4                       0                  0                  0
...                   ...                ...                ...
1935526                 0                  0                  0
1935528                 0                  0                  0
1935530                 1                  2                  0
1941253                 0                  0                  0
1955871                 1                  0                  0

[936320 rows x 22 columns]

In [ ]:
with open("..\Yelp_JSON\yelp_dataset\yelp_academic_dataset_review.json", 'r') as file:
    reviews=[json.loads(line) for line in file]

review_df = pd.DataFrame.from_dict(reviews, orient='columns')
print(review_df)

                      review_id                 user_id  \
0        KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA
1        BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q
2        saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A
3        AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ
4        Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ
...                         ...                     ...
6990275  H0RIamZu0B0Ei0P4aeh3sQ  qskILQ3k0I_qcCMI-k6_QQ
6990276  shTPgbgdwTHSuU67mGCmZQ  Zo0th2m8Ez4gLSbHftiQvg
6990277  YNfNhgZlaaCO5Q_YJR4rEw  mm6E4FbCMwJmb7kPDZ5v2Q
6990278  i-I4ZOhoX70Nw5H0FwrQUA  YwAMC-jvZ1fvEUum6QkEkw
6990279  RwcKOdEuLRHNJe4M9-qpqg  6JehEvdoCvZPJ_XIxnzIIw

                    business_id  stars  useful  funny  cool  \
0        XQfwVwDr-v0ZS3_CbbE5Xw    3.0       0      0     0
1        7ATYjTIgM3jUlt4UM3IypQ    5.0       1      0     1
2        YjUWPpI6HXG530lwP-fb2A    3.0       0      0     0
3        kxX2SOes4o-D3ZQBkiMRfA    5.0       1      0     1
4        e4Vwtrqf-wpJfwesgvdgxQ    4.0       1      0     1
...                         ...    ...     ...    ...   ...
6990275  jals67o91gcrD4DC81Vk6w    5.0       1      2     1
6990276  2vLksaMmSEcGbjI5gywpZA    5.0       2      1     2
6990277  R1khUUxidqfaJmcpmGd4aw    4.0       1      0     0
6990278  Rr9kKArrMhSLVE9a53q-aA    5.0       1      0     0
6990279  VAeEXLbEcI9Emt9KGYq9aA    3.0      10      3     7

                                                      text  \
0        If you decide to eat here, just be aware it is...
1        I've taken a lot of spin classes over the year...
2        Family diner. Had the buffet. Eclectic assortm...
3        Wow!  Yummy, different,  delicious.   Our favo...
4        Cute interior and owner (?) gave us tour of up...
...                                                    ...
6990275  Latest addition to services from ICCU is Apple...
6990276  This spot offers a great, affordable east week...
6990277  This Home Depot won me over when I needed to g...
6990278  For when I'm feeling like ignoring my calorie-...
6990279  Located in the 'Walking District' in Nashville...

                        date
0        2018-07-07 22:09:11
1        2012-01-03 15:28:18
2        2014-02-05 20:30:30
3        2015-01-04 00:01:03
4        2017-01-14 20:54:15
...                      ...
6990275  2014-12-17 21:45:20
6990276  2021-03-31 16:55:10
6990277  2019-12-30 03:56:30
6990278  2022-01-19 18:59:27
6990279  2018-01-02 22:50:47

[6990280 rows x 9 columns]

In [9]:
list=filtered_df['user_id'].values

def relavent_review(review_userID):
    return (review_userID in list)

filtered_review=pd.DataFrame(review_df[review_df['user_id'].apply(relavent_review)])

print(filtered_review)

KeyboardInterrupt:

In [7]:
# try:
#     with open("..\Yelp_JSON\yelp_dataset\yelp_academic_dataset_user.json", 'r') as file:
#         line_count = sum(1 for line in file)
#         print(line_count, "TOTAL")
#     invCount=0
#     # data = []
#     with open("..\Yelp_JSON\yelp_dataset\yelp_academic_dataset_user.json", 'r') as file:
#         # line_count = sum(1 for line in file)
#         # print(line_count, "TOTAL")
#         for line in file:
#             # T=True
#             json_object = json.loads(line)
#             if isinstance(json_object, dict):
#                 friends = json_object.get("friends", "Key not found")
#                 if isinstance(friends,str):
#                     # print("fren")
#                     # list = friends.split(",")
#                     val=friends.count(",")
#                     if val<1: # val < 3 implies 0-3 friends
#                         # print("Isolate")
#                         invCount+=1
#                         # T=False
#                 # print(f"friends: {friends}")
#             else:
#                     print("Not a JSON object:", json_object)
#             # if T:
#                 # data.append(json_object)
#                 # if len(data)<11:
#                 #     print(json_object)
#             # except json.JSONDecodeError:
#                 # print(f"Skipping invalid JSON line: {line.strip()}")
#         print(invCount)
#         # print(data)
# except FileNotFoundError:
#     print("Error: File not found.")